@import "compass/css3";

.progress {
  width: 100%;
  height: 25px;
}
.progress-wrap {
  background: #05B94C;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: #8A8B90;
    left: 0;
    position: absolute;
    top: 0;
  }
}
