  #progressbar {
      background-color: black;
      border-radius: 13px; /* (height of inner div) / 2 + padding */
      padding: 3px;
    }
    
    #progressbar > div {
       background-color: green;
       width: 25%; /* Adjust with JavaScript */
       height: 10px;
       border-radius: 5px;
    }
